<div class="row"></div>

<!-- left column -->
<div class="col-md-5 border">

<!-- avatar  -->
<h2><%= @u.first_name %></h2>
  <div class="row">
      <div class="col-md-6" style="text-align: center">
      <a href="<%= @u.fb_url %>" target="_blank">
        <%= image_tag @u.avatar, class: "img img-responsive", style: "width: 250px" %>
      </a>
      <strong><%= link_to "View More Pics", @u.fb_url %></strong>
      </div>

  <!-- location  -->
    <div class="col-md-6">
    <%= @u.name %>
    <!-- insert gender -->
    <!-- Male  -->
    <br>
   20+ years old<br>
    <%= @u.location %><br>
    United States <br><br>
    <%= image_tag "online.png", class: "img img-responsive" %><br><br>
    Last login: <br>
    <%= Date.today.strftime("%m/%d/%Y")%>
    </div>
  </div>
<!-- contact details -->
  <div class="panel panel-primary actions">
    <div class="panel-heading"><strong>Contacting <%= @u.first_name.downcase %></strong></div>
      <div class="panel-body">
        <div class="col-md-6">
          <ul>
          <strong>

             <li><%= image_tag "send.png" %><%= link_to "Send Message", "mailto:#{@u.email}?subject=Found You on Myspace", target: "_blank" %></li>
            <li><%= image_tag "add.png" %><%= link_to "Add to Friends", @u.fb_url, target: "_blank" %></li>
            <li><%= image_tag "im.png" %><a href="">IM / Call</a></li>
            <li><%= image_tag "group.png" %><a href="">Add to Group</a></li>           
          </strong>
        </ul>
        </div>
        <div class="col-md-6">
          <ul>
          <strong>
           <li><%= image_tag "forward.png" %><a href="">Forward to a Friend</a></li>
            <li><%= image_tag "favorites.png" %><a href="">Add to Favorites</a></li>
            <li><%= image_tag "block.png" %><a href="">Block User</a></li>
            <li><%= image_tag "rank.png" %><a href="">Rank User</a></li>           
          </strong>

        </ul>
        </div>
      </div>
  </div>
<!-- interests -->
  <div class="panel panel-primary interests">
    <div class="panel-heading"><strong><%= @u.first_name.downcase %>'s Interests</strong></div>
      <div class="panel-body">
        <div class="col-md-4 categories">
          <strong>
          <p>Religion</p>
          <p>Music</p>
          <p>Movies</p>
          <p>Television</p>
          <p>Books</p>            
          </strong>
        </div>
        <div class="col-md-8 answers">
          <p>Christian - Other</p>
          <p>Pit Bull, Blink 182</p>
          <p>Shawshank Redemption</p>
          <p>LOST, Entourage</p>
          <p>Harry Potter</p>
        </div>
      </div>
  </div>

<!-- star  sign -->
  <div class="panel panel-primary interests">
    <div class="panel-heading"><strong><%= @u.first_name.downcase %>'s Details</strong></div>
      <div class="panel-body">
        <div class="col-md-4 categories">
          <strong>
          <p>Zodiac Sign:</p>      
          </strong>
        </div>
        <div class="col-md-8 answers">
          <p><a href="http://ryanckulp.com/projects" target="_blank"><strong style="color: blue">Pisces</strong></a></p>
        </div>
      </div>
  </div>

</div> 

<!-- right column -->

<div class="col-md-7">
<h2></h2>

<!-- header  -->
<div class="jumbotron">
  <h2><%= @u.first_name.downcase %> is in your extended network</h2>
</div>

<!-- blog -->
<div class="row tight">
  <p><strong><%= @u.first_name %>'s Latest blog Entry</strong> [<a href="<%= @u.fb_url %>">Subscribe to this Blog</a>]</p><br>
  <p><%= "#{@u.first_name.downcase}#{@u.last_name.downcase}.com" %> (<a href="<%= @u.fb_url %>">view more</a>)</p><br>
  <p>[<a href="<%= @u.fb_url %>">View All Blog Entries</a>]</p>
</div>

<!-- about  -->
<div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong><%= @u.first_name.downcase %>'s Blurbs</strong>
      </div>
      <div class="panel-body">
        <strong>About me:</strong>
        <p>
        <!-- <%= @u.bio %> -->
        Football player. Cheerleader. In high school most likely.
        </p>
        <strong>Who I'd like to meet:</strong>
        <p>

          The guy from Fear Factor, your mom, Paris Hilton...
        </p>
        </div>
    </div>
</div>

<!-- friends -->
<div class="row">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <strong><%= @u.first_name.downcase %>'s Friend Space</strong>
      </div>
      <div class="panel-body">
        <p><strong style="color: black"><%= @u.first_name.downcase %> has </strong><strong><%= @u.fb_friends %></strong><strong style="color: black"> friends.</strong></p>
        </div>
    </div>

    <div class="friends">
      <div class="col-md-3">
        <a href="https://myspace.com/tom">
          <p>Tom</p>
          <%= image_tag "tom.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://myspace.com/300movie">
          <p>300</p>
          <%= image_tag "300.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://myspace.com/kimsaprincess">
          <p>Kim Kardashian</p>
          <%= image_tag "kim.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://myspace.com/prisonbreak">
          <p>Prison Break</p>
          <%= image_tag "prisonbreak.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="row"></div>
      <div class="col-md-3">
        <a href="https://myspace.com/nickelback">
          <p>Nickelback</p>
          <%= image_tag "nickelback.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://myspace.com/nickelback">
          <p>Nickelback</p>
          <%= image_tag "nickelback.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://myspace.com/nickelback">
          <p>Nickelback</p>
          <%= image_tag "nickelback.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>          
      <div class="col-md-3">
        <a href="https://myspace.com/nickelback">
          <p>Nickelback</p>
          <%= image_tag "nickelback.jpg", class: "img img-responsive", style: "width: 150px" %>
        </a>
      </div>   

    </div>
</div><!-- End friend row -->

</div><!-- End right column -->